header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Circular Std', 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */

    letter-spacing: -0.02em;
    color: #0A1B32;

    margin-left: 80px;
}

.logo-dot {
    color: #33A2E0;
}

.nav-bar {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.02em;
    color: #1B0A42;
}

.nav-bar li {
    display: flex;
    
    margin: 0 5%;
    width: 100%;
}

a:link {
    text-decoration: none;
    color: #1B0A42;
}